.list-menu {
    width: 224px;

    //Menu items
    .menu-item {
        width: 100%;
        margin-left: 0;
        font-size: 14px;
        justify-content: left;
        border-radius: 0;
        padding: 11px 16px;
        line-height: 1.8rem;
        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
}
.menu-popper {
    padding: 8px 0;
}
//Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
