.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    max-height: min((100vh - 96px) - 60px, 734px);
    overflow: hidden auto;
    min-height: 100px;

    &::-webkit-scrollbar {
        width: 0.8rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #f1f1f2;
        border-radius: 16px;
    }
}
