.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    padding: 0 24px;
    box-shadow: 0px 1px 1px RGB(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

//actions
.actions {
    display: flex;
    align-items: center;

    .btn-upload {
        min-width: 110px;
        height: 3.6rem;
        padding: 0 1.6rem;
        color: var(--black);
        align-items: center;
        border: 1px solid rgba(22, 24, 35, 0.12);
        border-radius: 0;
        margin-right: 1.5rem;
        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
        span {
            display: grid;
            grid-auto-flow: column;
            grid-column-gap: 10px;
        }
    }
}
.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 5px;
}
.action-btn {
    background: transparent;
    font-size: 2.2rem;
    padding: 4px 12px;
}
.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
}
